/* Start General variables */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --main-color: #2196f3;
  --alt-main-color: #1787e0;
  --main-transition: 0.3s;
  --main-padding: 100px;
  --main-section-bkcolor: #ececec;
}

/* End general variables */

/* start component */

.main-title {
  font-weight: bold;
  font-size: 25px;
  margin: 0 auto 80px;
  width: fit-content;
  border: 2px solid var(--main-color);
  padding: 10px 20px;
  position: relative;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  text-transform: uppercase;
}

.main-title:hover {
  border: 2px solid white;
  color: white;
  transition-delay: 0.5s;
  z-index: 50;
}

.main-title:before,
.main-title:after {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-radius: 50%;
  z-index: 1;
}

.main-title:before {
  left: -30px;
}

.main-title:hover:before {
  z-index: -1;
  animation: go-left 0.5s linear forwards;
  -webkit-animation: go-left 0.5s linear forwards;
}

.main-title:after {
  right: -30px;
}

.main-title:hover:after {
  z-index: -1;
  animation: go-right 0.5s linear forwards;
  -webkit-animation: go-right 0.5s linear forwards;
}

.spikes {
  position: relative;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  z-index: 1;
  height: 30px;
  width: 100%;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}

.dots {
  background-image: url(/media/dots.png);
  position: absolute;
  width: 204px;
  height: 186px;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .dots {
    display: none;
  }
}

.dots-up {
  top: 120px;
  right: 5px;
}

.dots-down {
  bottom: 120px;
  left: 5px;
}

/* end component */

/* Start general rules */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End general rules */

/* Start Header */

header {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  position: relative;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

@media (max-width: 767px) {
  header .container {
    gap: 0;
  }
}

header .container .logo {
  font-size: 25px;
  font-weight: bold;
  color: var(--main-color);
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  header .container .logo {
    margin: 0 auto;
    height: 60px;
  }
}

header .main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  header .main-nav {
    margin: 0 auto;
  }
}

header .main-nav li {
  height: 72px;
}

@media (max-width: 767px) {
  header .main-nav li {
    height: 50px;
  }
}

header .main-nav > li > a {
  color: black;
  padding: 0 30px;
  position: relative;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
}

@media (max-width: 767px) {
  header .main-nav > li > a {
    padding: 0 15px;
    font-size: 16px;
  }
}

header .main-nav > li > a::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 100%;
  height: 4px;
  top: 0;
  left: -100%;
}

header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
  width: 100%;
  height: 100%;
}

header .main-nav > li > a:hover:before {
  left: 0;
}

/* End Header */

/* Start Landing */
.landing {
  position: relative;
}

.landing::before {
  content: "";
  background-color: #ececec;
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: skewY(5deg);
  -webkit-transform: skewy(-6deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  -o-transform: skewY(5deg);
  transform-origin: top left;
}

.landing .container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 72px);
  padding-bottom: 120px;
  gap: 0;
}

.landing .container .text {
  flex: 1;
  max-width: 500px;
}

@media (max-width: 991px) {
  .landing .container .text {
    margin: 0 auto;
  }
}

.landing .container .text h1 {
  font-size: 40px;
  margin: 0;
}

@media (max-width: 991px) {
  .landing .container .text h1 {
    text-align: center;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .landing .container .text h1 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
  }
}

.landing .container .text p {
  line-height: 1.7;
  font-size: 18px;
  color: #666;
  margin: 5px 0 0;
}

@media (max-width: 991px) {
  .landing .container .text p {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .landing .container .text p {
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
  }
}

.landing .image img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;
  -webkit-animation: up-and-down 4s linear infinite;
}

@media (max-width: 991px) {
  .landing .image img {
    display: none;
  }
}

.landing > a {
  position: absolute;
  bottom: 30px;
  left: 50%;

  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);

  color: var(--main-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.landing .go-down:hover {
  color: var(--alt-main-color);
}

.landing .go-down i {
  animation: bouncing 1.5s infinite;
  -webkit-animation: bouncing 1.5s infinite;
}

/* End Landing */

/* start mega-menu */

header .mega-menu {
  position: absolute;
  display: flex;
  width: 100%;
  left: 0;
  top: calc(100% + 15px);
  background-color: white;
  z-index: -1;
  gap: 40px;
  padding: 20px;
  opacity: 0;
  border-bottom: 3px solid var(--main-color);
  transition: top var(--main-transition), opactiy var(--main-transition);
  -webkit-transition: top var(--main-transition), opactiy var(--main-transition);
  -moz-transition: top var(--main-transition), opactiy var(--main-transition);
  -ms-transition: top var(--main-transition), opactiy var(--main-transition);
  -o-transition: top var(--main-transition), opactiy var(--main-transition);
}

header .main-nav .mega:hover .mega-menu {
  z-index: 100;
  opacity: 1;
  top: calc(100% + 1px);
}

@media (max-width: 767px) {
  header .mega-menu {
    flex-direction: column;
    gap: 0;
  }
}

header .mega-menu .image img {
  width: 300px;
  max-width: 100%;
  margin: 0 200px 0 70px;
}

header .mega-menu .links li {
  font-size: 18px;
  font-weight: bold;
  min-width: 240px;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}

header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 991px) {
  header .mega-menu .image img {
    display: none;
  }

  header .mega-menu .links {
    flex: 1;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}

header .mega-menu .links li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #fafafa;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  z-index: -1;
}

header .mega-menu .links li:hover::before {
  width: 100%;
}

header .mega-menu .links li a {
  color: var(--main-color);
}

header .mega-menu .links li a i {
  margin-right: 20px;
}

/* end mege-menu */

/* start articles */
.articles {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.articles .box {
  box-shadow: 0 2px 15px rgb(0 0 0 /10%);
  background-color: white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  -webkit-transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  -moz-transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  -ms-transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  -o-transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}

.articles .box:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);

  box-shadow: 0 2px 15px rgb(0 0 0 /20%);
}

.articles .box img {
  max-width: 100%;
}

.articles .box h3 {
  margin: 0;
  font-weight: bold;
  padding: 20px 20px 0;
}

.articles .box p {
  margin: 10px 0 0 0;
  color: #777;
  line-height: 1.5;
  padding: 0 20px 20px;
}

.articles .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles .info a {
  color: var(--main-color);
  font-weight: bold;
}

.articles .info i {
  color: var(--main-color);
}

.articles .box:hover .info i {
  animation: arrmove 0.6s linear infinite;
  -webkit-animation: arrmove 0.6s linear infinite;
}

/* end articles */

/* start gallery */
.gallery {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--main-section-bkcolor);
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.gallery .container .box {
  background-color: white;
  padding: 15px;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.gallery .container .box .image {
  position: relative;
  overflow: hidden;
}

.gallery .container .box .image:before {
  content: "";
  position: absolute;
  background-color: rgb(255 255 255 / 20%);
  width: 0px;
  height: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
}

.gallery .container .box .image:hover:before {
  animation: flashing 0.6s;
  -webkit-animation: flashing 0.7s;
}

.gallery .container .box .image img {
  max-width: 100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.gallery .container .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
  -webkit-transform: rotate(5deg) scale(1.1);
  -moz-transform: rotate(5deg) scale(1.1);
  -ms-transform: rotate(5deg) scale(1.1);
  -o-transform: rotate(5deg) scale(1.1);
}

/* end gallery */

/* start features */
.features {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relativer;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.features .container .box {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.features .container .box .img-holder {
  overflow: hidden;
  height: 350px;
  position: relative;
}

.features .container .box .img-holder::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 100px 0px 140px 437px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.features .container .box:hover .img-holder::before {
  border-width: 100px 437px 140px 0;
}

.features .container .box .img-holder img {
  max-width: 100%;
}

.features .container .quality .img-holder::before {
  content: "";
  background-color: #f4403657;
  position: absolute;
  top: 0;
  left: 0;
}

.features .container .quality:hover .img-holder::before {
  background-color: transparent;
}

.features .container .time .img-holder::before {
  content: "";
  background-color: #00965759;
  position: absolute;
  top: 0;
  left: 0;
}

.features .container .time:hover .img-holder::before {
  background-color: transparent;
}

.features .container .passion .img-holder::before {
  content: "";
  background-color: #03a9f45e;
  position: absolute;
  top: 0;
  left: 0;
}

.features .container .passion:hover .img-holder::before {
  background-color: transparent;
}

.features .container .box h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 15px 0;
  width: fit-content;
  margin: auto;
  position: relative;
}

.features .container .box h2::before {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 4px;
  left: 15px;
  bottom: -8px;
}

.features .container .quality h2::before {
  background-color: #f44036;
}

.features .container .time h2::before {
  background-color: #009688;
}

.features .container .passion h2::before {
  background-color: #03a9f4;
}

.features .box p {
  padding: 15px;
  color: #777;
  line-height: 2;
  font-size: 18px;
  margin: 30px 0;
}

.features .box a {
  display: block;
  font-weight: bold;
  font-size: 22px;
  margin: 0 auto 30px;
  padding: 10px 30px;
  width: fit-content;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.features .quality a {
  color: #f44036;
  border: 3px solid #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200%, 100%;
  background-position: right bottom;
}

.features .quality:hover a {
  color: white;
  background-position: left bottom;
}

.features .time a {
  color: #009688;
  border: 3px solid #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200%, 100%;
  background-position: right bottom;
}

.features .time:hover a {
  color: white;
  background-position: left bottom;
}

.features .passion a {
  color: #03a9f4;
  border: 3px solid #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200%, 100%;
  background-position: right bottom;
}

.features .passion:hover a {
  color: white;
  background-position: left bottom;
}

/* end features */

/* start testimonilas */

.testimonials {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--main-section-bkcolor);
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.testimonials .container .box {
  position: relative;
  background-color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2pc 4px rgb(0 0 0 / 0.07%);
}

.testimonials .container .box img {
  position: absolute;
  right: -10px;
  top: -50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 10px solid var(--main-section-bkcolor);
}

.testimonials .container .box h2 {
  font-size: 20px;
}

.testimonials .container .box .title {
  display: block;
  color: #777;
  margin-bottom: 10px;
}

.testimonials .container .box .rate .filled {
  color: #ffc107;
  margin-bottom: 10px;
}

.testimonials .container .box p {
  color: #777;
  line-height: 1.5;
  margin-bottom: 2px;
}

/* end testimonilas */

/* start team members */
.team-members {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}

.team-members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.team-members .container .box {
  position: relative;
  padding-top: 60px;
}

.team-members .container .box::before,
.team-members .container .box::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.team-members .container .box::before {
  background-color: #f3f3f3;
  width: calc(100% - 60px);
  z-index: -2;
}

.team-members .container .box::after {
  background-color: #e4e4e4;
  width: 0;
  z-index: -1;
}

.team-members .container .box:hover::after {
  width: calc(100% - 60px);
}

.team-members .container .box .informtion {
  display: flex;
  align-items: center;
}

.team-members .container .box .informtion img {
  width: calc(100% - 60px);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.team-members .container .box:hover img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.team-members .container .box .informtion .contact {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.team-members .container .box .informtion .contact a {
  width: 60px;
  height: 30px;
}

.team-members .container .box .informtion .contact a i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.team-members .container .box .informtion .contact a:hover i {
  color: var(--main-color);
}

.team-members .container .data {
  padding-left: 80px;
}

.team-members .container .data h2 {
  color: var(--main-color);
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 30px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.team-members .container .box:hover .data h2 {
  color: #777;
}

.team-members .container .data p {
  margin: 0 0 20px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.team-members .container .box:hover .data p {
  color: #777;
}

/* end team members */

/* start services */

.services {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--main-section-bkcolor);
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.services .container .box {
  text-align: center;
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  padding-top: 30px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  position: relative;
  counter-increment: counter;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.services .container .box:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: var(--main-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.services .container .box:hover:before {
  width: 100%;
}

.services .container .box:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.services .container .box i {
  color: #d5d5d5;
}

.services .container h3 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 22px;
  margin: 20px 0 30px;
}

.services .container .info {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  left: 0;
  padding: 10px 10px 10px 0;
  background-color: #f9f9f9;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--main-color);
}

.services .container .info::before {
  content: "0" counter(counter);
  position: absolute;
  left: 0;
  width: 95px;
  height: 100%;
  background-color: var(--main-color);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.services .container .info::after {
  content: "";
  position: absolute;
  left: 75px;
  width: 55px;
  height: 100%;
  background-color: #d5d5d5;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  color: white;
  transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
  -moz-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  -o-transform: skewX(-30deg);
}

/* end services */

/* start ourskills */
.our-skills {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.our-skills .container img {
  width: 450px;
  max-width: 100%;
}

@media (max-width: 991px) {
  .our-skills .container img {
    display: none;
  }
}

.our-skills .container .rate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.our-skills .container .rate .lang .la {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-skills .container .rate .lang .la h3:last-child {
  color: var(--main-color);
  font-weight: bold;
  font-size: 15px;
  border: 2px solid #ccc;
  padding: 2px 5px;
  border-radius: 6px;
}

.our-skills .container .rate .rating {
  height: 30px;
  background-color: #eee;
  position: relative;
}

.our-skills .container .rating span {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: var(--main-color);
  height: 30px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

/* end ourskills */

/* start work-steps */

.work-steps {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--main-section-bkcolor);
  position: relative;
}

.work-steps .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
  }
}

.work-steps .container .image {
  max-width: 100%;
}

.work-steps .container .info {
  display: flex;
  flex-direction: column;
}

.work-steps .container .info .box .data {
  background-color: #f6f5f5;
  margin-bottom: 25px;
  padding: 15px;
  display: flex;
  gap: 30px;
  justify-content: center;
  border-radius: 8px;
  align-items: center;
  border: 2px solid white;
  position: relative;
  z-index: 1;
}

@media (max-width: 991px) {
  .work-steps .container .info .box .data {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.work-steps .container .info .box .data:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #ededed;
  transition: var(--main-transition);
  -webkit-transition: ;
  -moz-transition: ;
  -ms-transition: ;
  -o-transition: ;
  z-index: -1;
}

.work-steps .container .info .box:hover .data:before {
  width: 100%;
  height: 100%;
}

.work-steps .container .info .box img {
  width: 65px;
}

.work-steps .container .info .box div h3 {
  display: block;
  font-size: 22px;
  margin: 10px 0 0 0;
}

.work-steps .container .info .box div p {
  color: black;
  line-height: 1.7;
  margin: 15px 0 0 0;
  color: #777;
}

@media (max-width: 991px) {
  .work-steps .container .info .box .data > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .work-steps .container .info .box div p {
    text-align: center;
  }
}

/* end work-steps */

/* start events */

.events {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}

.events .container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.events .container .sidebox {
  flex: 1;
}

.events .container img {
  width: 400px;
}

@media (max-width: 991px) {
  .events .container img {
    display: none;
  }
}

.events .container .subscribe {
  max-width: 100%;
}

.events .container .timer {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.events .container .timer .time {
  display: flex;
  width: 75px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding-top: 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.events .container .timer .time span:first-child {
  font-size: 32px;
  color: var(--main-color);
  font-weight: bold;
  padding-bottom: 15px;
  text-align: center;
}

.events .container .timer .time span:last-child {
  color: #777;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
  display: block;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.events .container .sidebox h2 {
  margin: 45px auto 15px;
  text-align: center;
  font-size: 28px;
}

.events .container .sidebox p {
  color: #777;
  line-height: 1.7;
  text-align: center;
}

.events .container form {
  max-width: 100%;
  width: fit-content;
  text-align: center;
  padding: 30px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #f6f5f5;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.events .container form input[type="mail"] {
  width: 350px;
  background-color: white;
  padding: 20px;
  border: none;
  border-radius: 50px;
  caret-color: var(--main-color);
}

.events .container form input[type="mail"]::placeholder {
  opacity: 1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.events .container form input[type="mail"]:hover::placeholder {
  opacity: 0;
}

.events .container form input[type="mail"]:focus,
.events .container form input[type="submit"]:focus {
  outline: none;
}

.events .container form input[type="submit"] {
  padding: 20px;
  border: none;
  border-radius: 50px;
  color: white;
  background-color: var(--main-color);
}

.events .container form input[type="submit"]:hover {
  background-color: var(--alt-main-color);
  cursor: pointer;
}

/* end events */

/* start pricing */

.pricing {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--main-section-bkcolor);
  position: relative;
}

.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.pricing .container .box {
  background-color: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  text-align: center;
  position: relative;
  z-index: 1;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.pricing .container .box:before,
.pricing .container .box:after {
  content: "";
  position: absolute;
  background-color: #f6f6f6;
  width: 0;
  height: 50%;
  z-index: -1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.pricing .container .box::before {
  top: 0;
  left: 0;
}

.pricing .container .box::after {
  top: 50%;
  right: 0;
}

.pricing .container .box:hover:before,
.pricing .container .box:hover:after {
  width: 100%;
}

@media (min-width: 1200px) {
  .pricing .container .advanced {
    position: relative;
    top: -20px;
  }
}

.pricing .container .advanced .most {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  position: absolute;
  right: 20px;
  top: 0;
  display: block;
  width: 40px;
  color: white;
  background-color: var(--main-color);
  padding: 10px 12px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.pricing .container .advanced .most::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: transparent transparent white transparent;
  border-width: 20px;
}

.pricing .container .plan {
  font-weight: bold;
  font-size: 30px;
  margin: 45px auto 40px;
  letter-spacing: -1;
}

.pricing .container .box img {
  width: 80px;
  margin-bottom: 30px;
}

.pricing .container .box .amount .price {
  display: block;
  font-size: 40px;
  font-weight: bold;
  color: var(--main-color);
  padding-bottom: 10px;
}

.pricing .container .box .amount .date {
  font-size: 15px;
  color: #777;
  display: block;
  margin: 0 auto 20px;
}

.pricing .container .box ul {
  text-align: left;
}

.pricing .container .box ul li {
  padding: 20px;
  border-top: 1px solid #eee;
}

.pricing .container .box ul li:before {
  font-family: "Font Awesome 5 free";
  content: "\F00c";
  margin-right: 10px;
  color: var(--main-color);
  font-weight: bold;
}

.pricing .container .box .choose {
  display: block;
  width: fit-content;
  font-weight: bold;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  padding: 10px 15px;
  margin: 20px auto 40px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.pricing .container .box .choose:hover {
  color: white;
  border-color: var(--alt-main-color);
  background-color: var(--alt-main-color);
}

/* end pricing */

/* start videos */
.videos {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}

.videos .holder {
  display: flex;
  justify-content: center;
  background-color: #e2e2e2;
  border: 1px solid var(--main-section-bkcolor);
}

.videos .holder .contento img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .videos .container .holder {
    flex-direction: column;
  }
}

.videos .holder .list {
  min-width: 300px;
  background-color: white;
  z-index: 1;
}

.videos .holder .top {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: var(--main-color);
  background-color: #f4f4f4;
  font-weight: bold;
}

.videos .holder .list ul li {
  padding: 20px;
  border-top: 1px solid var(--main-section-bkcolor);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.videos .holder .list ul li:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

.videos .holder .list ul li:hover .name {
  color: var(--main-color);
}

.videos .holder .list ul li span {
  display: block;
  color: #777;
  padding-top: 10px;
}

.videos .holder .contento {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.videos .holder .contento .textt {
  padding: 20px;
  background-color: white;
  margin-top: 10px;
}

/* end videos */

/* start stats */

.stats {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-image: url(/media/stats.jpg);
  background-size: cover;
  position: relative;
}

.stats:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffffeb;
}

.stats h2 {
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  margin: 10px auto 45px;
  position: relative;
}

.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  position: relative;
  text-align: center;
}

.stats .box {
  text-align: center;
  padding: 30px 15px;
  background-color: white;
  position: relative;
  opacity: 0.75;
  transition: 0.75s;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -ms-transition: 0.75s;
  -o-transition: 0.75s;
}

.stats .box:hover {
  opacity: 1;
  cursor: pointer;
}

.stats .box:before,
.stats .box:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  transition: 0.75s;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -ms-transition: 0.75s;
  -o-transition: 0.75s;
}

.stats .box:before {
  top: 0;
  right: 0;
}

.stats .box:after {
  bottom: 0;
  left: 0;
}

.stats .box:hover:before,
.stats .box:hover:after {
  height: 100%;
}

.stats .box .count {
  display: block;
  font-size: 40px;
  margin: 20px auto;
  font-weight: bold;
}

.stats .box .text {
  color: var(--main-color);
  font-weight: bold;
}

/* end stats */

/* start discount */
.discount {
  position: relative;
}

.discount .cont {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

.discount .cont .headtitle {
  font-size: 40px;
  font-weight: bold;
  margin: 40px auto 40px;
  letter-spacing: -1px;
  color: white;
}

.discount .cont .data {
  background-image: url(/media/discount.jpg);
  background-size: cover;
  max-width: 100%;
  position: relative;
  flex-basis: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

@media (min-width: 991px) {
  .discount .cont .data {
    flex-basis: 50%;
  }
}

.discount .cont .data:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(23 135 224 / 90%);
  z-index: -1;
}

.discount .cont .data > p {
  max-width: 500px;
  line-height: 1.7;
  font-size: 18px;
  margin: 0 auto 40px;
  color: white;
}

.discount .cont .data .image img {
  max-width: 100%;
  width: 350px;
}

.discount .cont form {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 991px) {
  .discount .cont form {
    flex-basis: 50%;
  }
}

.discount .cont form > h2 {
  color: black !important;
}

.discount form .input {
  display: block;
  width: 100%;
  margin: 0 auto 20px;
  padding: 10px;
  border: none;
  background-color: #f9f9f9;
  color: #777;
  width: 320px;
}

.discount form input:focus,
.discount form textarea {
  outline: none;
  caret-color: var(--main-color);
}

.discount form textarea {
  height: 200px;
  resize: none;
}

.discount form input[type="submit"] {
  display: block;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  cursor: pointer;
}

.discount form input[type="submit"]:hover {
  background-color: var(--alt-main-color);
}

/* end discount */

/* start footer */

.footer {
  background-color: #191919;
  padding: 70px 0 0;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.footer .box {
  padding: 0 20px;
}

.footer .box h3 {
  font-size: 30px;
  color: white;
  margin-bottom: 30px;
}

.footer .box ul {
  display: flex;
}

@media (max-width: 767px) {
  .footer .box ul {
    justify-content: center;
  }
}

.footer .box .social li a {
  font-size: 25px;
  background-color: #313131;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.footer .box .social li a i {
  color: #919191;
}

.footer .box .social .facebook:hover {
  background-color: #1877f2;
}

.footer .box .social .twitter:hover {
  background-color: #1da1f2;
}

.footer .box .social .youtube:hover {
  background-color: #ff0000;
}

.footer .box .text {
  margin-top: 30px;
  color: #b9b9b9;
  line-height: 2;
  text-align: left;
}

@media (max-width: 767px) {
  .footer .box .text {
    text-align: center;
  }
}

.footer .box .link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer .box .link li {
  padding: 10px 0;
  position: relative;
  transition: var(--main-transition);
  -webkit-transition: ;
  -moz-transition: ;
  -ms-transition: ;
  -o-transition: ;
}

.footer .box .link li:before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}

.footer .box .link li:hover {
  padding-left: 10px;
}

.footer .box .link li a {
  color: #b9b9b9;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.footer .box .link li:hover a {
  color: white;
}

.footer .box .link li:not(:last-child) {
  border-bottom: 1px solid #444;
}

.footer .box .line {
  display: flex;
  margin-bottom: 20px;
}

.footer .box .line i {
  font-size: 25px;
  margin-right: 10px;
  color: var(--main-color);
}

.footer .box .line .info {
  color: #b9b9b9;
  line-height: 1.7;
}

.footer .footer-gallery {
  text-align: center;
}

.footer .footer-gallery img {
  width: 65px;
  border: 3px solid #b9b9b9;
  margin: 2px;
}

.footer .copyright {
  display: block;
  color: white;
  margin: 50px 0 0;
  padding: 25px 0;
  border-top: 1px solid #444;
  text-align: center;
}

@media (max-width: 767px) {
  .footer .box {
    text-align: center;
  }
}

/* end footer */

/* Start animation */

@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }

  50% {
    top: -40px;
  }
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  30%,
  50%,
  70%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-15px);
  }
}

@keyframes go-left {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}

@keyframes go-right {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}

@keyframes arrmove {
  100% {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }
}

@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

/* End animation */
